# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf


# Exclude these from ZIP exports
/docs export-ignore
/guides export-ignore
/screenshots export-ignore
/tests export-ignore
/.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
